@import './base.css';

.auth-center-btngroup {
  @apply text-center justify-center items-center flex flex-col;
  height: 100vh;
}
.auth-center-btngroup button {
  @apply mb-12;
}

.mp-now {
  @apply flex w-full items-center pb-8 cursor-default px-3;
  backdrop-filter: brightness(0.95);
  height: 100vh;
  overflow: hidden;
  max-width: 100%;
  user-select: none;
}

.mp-now .meta {
  margin-right: 7rem;
  text-align: center;
}
.mp-now .cover {
  @apply flex justify-center items-center;
}

.mp-now .track-title {
  @apply text-3xl sm:text-4xl md:text-5xl lg:text-6xl xl:text-7xl font-bold;
}
.mp-now .track-artists {
  @apply text-xl sm:text-2xl md:text-3xl lg:text-4xl xl:text-5xl mt-6 opacity-65;
}
.mp-now img {
  max-width: 100%;
  overflow: hidden;
  @apply w-2/3 rounded;
}
