@import './base.css';

.auth-center-btngroup {
  @apply text-center justify-center items-center flex flex-col;
  height: 100vh;
}
.auth-center-btngroup button {
  @apply mb-12;
}

.mp-now {
  @apply block md:flex md:h-screen items-center pb-8 cursor-default px-3;
  width: 100vw;
  overflow: hidden;
  max-width: 100%;
  user-select: none;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  backdrop-filter: brightness(0.98);
}

.mp-now .meta {
  @apply mt-12 mr-12 ml-12 md:mt-0 md:ml-4;
  margin-right: 3rem;
  /* text-align: center; */
  display: flex;
  justify-content: center;
  margin-left: 1rem;
}
.mp-now .cover {
  @apply flex justify-center items-center;
}

.mp-now .track-title {
  @apply text-3xl sm:text-4xl md:text-5xl lg:text-6xl xl:text-7xl font-bold;
  line-height: 1.1;
}
.mp-now .track-artists {
  @apply text-xl sm:text-2xl md:text-3xl lg:text-4xl xl:text-5xl mt-6 opacity-65;
}
.mp-now img {
  max-width: 100%;
  overflow: hidden;
  @apply w-2/3 rounded;
}
